* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/img/btsf.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 150px;
    height: 220px;
}

td {
    background-color: aliceblue;
    font-size: 25px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

div {
    position: relative;
    top: 200px;
    right: 490px;
    border: 50px;
}

h1 {
    padding: 50px;
    font-size: 50px;
    background: rgb(14, 0, 36);
    background: linear-gradient(90deg, rgba(14, 0, 36, 1) 0%, rgba(34, 23, 88, 1) 39%, rgba(75, 70, 196, 1) 62%, rgba(82, 78, 215, 1) 66%, rgba(77, 72, 201, 1) 88%, rgba(50, 4, 91, 0.9948354341736695) 100%, rgba(64, 143, 220, 1) 100%, rgba(90, 144, 205, 1) 100%, rgba(54, 154, 170, 1) 100%, rgba(9, 86, 121, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 50px;
    left: 750px;
}
p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    position: absolute;
    top: 200px;
    left: 500px;
    right: 200px;
}
h3{
    font-size: 30px;
    background: rgb(14, 0, 36);
    background: linear-gradient(90deg, rgba(14, 0, 36, 1) 0%, rgba(34, 23, 88, 1) 39%, rgba(75, 70, 196, 1) 62%, rgba(82, 78, 215, 1) 66%, rgba(77, 72, 201, 1) 88%, rgba(50, 4, 91, 0.9948354341736695) 100%, rgba(64, 143, 220, 1) 100%, rgba(90, 144, 205, 1) 100%, rgba(54, 154, 170, 1) 100%, rgba(9, 86, 121, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 435px;
    left: 700px;
}
#p2{
    position: absolute;
    top: 500px;
    left: 500px;
    right: 200px;
}
video{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 1350px;
    left: 530px;
}